<ion-view title="Payment Method" >
<style>
.radio-icon.disable-pointer-events.icon.ion-checkmark {
    color: rgb(255, 255, 255);
}
.item-radio input:checked + .radio-content .item-content {
    background: #55ACEE;
    color: #FFF;
}
.radio-content {
    border-bottom: 2px solid #55ACEE;
}
.placeorder-btn{
	background-color: #55ACEE;
	border: none;
	padding: 10px;
	color: #fff;
	font-weight: bold;
	font-size: 15px;
}
</style>
<ion-content>
<form ng-submit="placeorder()">

<div class="">
	
	<div class="col" ng-repeat="payment in paymentlist" ng-init="placeorder.method=paymentlist[0].cPaymentModeName">
		<label style="" ng-model="placeorder.method" value="" class="item item-radio" style="width: 100%;">
			<input style="" class="" ng-model="placeorder.method" value="{{payment.cPaymentModeName}}" name="store" type="radio">
			<div class="radio-content">
				<div class="" style="min-height: 40px;">
					<span style="top: 7px;position: absolute;">{{payment.cPaymentModeName}}</span>
				</div>
				<i class="radio-icon icon ion-checkmark" style="margin-top: -12px;"></i>
			</div>
		</label>
	</div>	

</div>

<div style="text-align:center;margin-top: 20px;">
	<button type="submit" class="placeorder-btn">Place Order</button>
</div>
</form>
</ion-content>

</ion-view>
